@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(48, 50, 53);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

p, li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  background-color: rgb(20, 21, 24);
  text-decoration: none;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 2vh 12vh;
  background-color: rgb(20, 21, 24);
  transition: .2s;
}

#navName {
  font-size: 24px;
  margin-right: auto;
}

#nav_links {
  list-style: none;
  background-color: rgb(20, 21, 24);
}

#nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

#nav__links li a {
  transition: all 0.3s ease 0s;
}

#nav__links li a:hover {
  color: #0088a9;
}

#contactButton {
  margin: 0px 0px 0px 20px;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

section {
  padding: 5vh 10vh
}